.filter {
  display: flex;
  justify-content: space-between;

  > * {
    position: relative;
  }
}
todo-filter {
  li {
    cursor: pointer;

    &:after {
      transition: 300ms all;
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      transform: translateX(20px);
      opacity: 0;
    }
    
    &.active {
      cursor: initial;

      &:after {
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }
}
