todo-list {
  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        cursor: pointer;
      }

      .delete-todo {
        opacity: 0;
        transition: 400ms opacity;
      }

      &:hover {
        .delete-todo {
          opacity: 1;
        }
      }

      .complete {
        text-decoration: line-through;
      }

      &.slide {
        transition: 300ms all;

        &.ng-enter {
          opacity: 0;
          transform: translateX(50px);

          &-active {
            opacity: 1;
            transform: translateX(0px);
          }

          &-stagger {
            transition-delay: 0.1s;
            transition-duration: 0s;
          }
        }

        &.ng-leave {
          opacity: 1;
          transform: translateX(0px);

          &-active {
            opacity: 0;
            transform: translateX(-50px);
          }

          &-stagger {
            transition-delay: 0.1s;
            transition-duration: 0s;
          }
        }
      }
    }

    input, button {
      font-size: 1em;
    }
  }

  .info-text {
    text-align: center;
    color: #999;
    font-size: .8em;
    font-style: italic;
  }

  .smiley {
    font-style: normal;
    padding: 0 2px;
  }
}
