app {
  header {
    background: #fdc07f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;

    h1 {
      font-size: 1.5em;
      letter-spacing: 2px;
    }
  }

  ui-view {
    display: block;
    max-width: 400px;
    min-height: 80vh;
    margin: 2em auto;
  }

  footer {
    padding: 1em;
  }
}
